body,
html {
	margin: 0;
	padding: 0;
	background-image: url(imgs/paper.jpg);
	background-size: contain;


}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 100%;
	top: 0;
	font-family: 'Comfortaa', cursive;


}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #F3061A;
	transition: 0.5s;
	color: white;

}

/*MENU SLUT*/
/*BURGERMENU*/
#menuknap {
	text-align: left;
	font-size: 3rem;
	cursor: pointer;
	color: black;
	font-family: 'Comfortaa', cursive;
}

#menu {
	transition: transform 0.3s;
	list-style-type: none;
	transform-origin: top left;


	padding-bottom: 20px;
	background-color: rgba(226, 226, 226, 0.58);
	width: 200px;
}

#burger {
	width: 200px;
	z-index: 2;
	margin-left: 20px;
}

#menu li {
	margin: 10px;
	display: block;



}

#menu a {
	font-size: 1.2rem;
	text-decoration: none;
	color: #000000;
	text-align: left;


}

#menu a:hover {
	color: white;
}


.hidden {
	display: none;
}

/*BURGERMENU SLUT*/
.forside {
	font-family: 'Comfortaa', cursive;
	margin: 20px;
	text-align: center;

}

.forsidebillede {
	height: 80%;
	width: 60%;


}

.forsidetekst {
	width: ;
}




#splash {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	padding: 10px;


}

.logo {
	height: auto;
	width: 170px;
}

.navn {
	padding: 10px 50px 10px 15px;
	font-family: lemonMilk;
	font-size: 2rem;
}


#liste {



	width: 100vw;
	margin-bottom: 5vw;
	margin-top: 5vw;

	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;




}

img {
	width: 300px;
	margin: 2vw;
	display: block;
	margin-left: auto;
	margin-right: auto;


}

p {}

h2 {}



h1 {
	text-align: center;
	color: black;
	font-size: 3rem;
	padding-top: 8px;
	font-family: 'Comfortaa', cursive;

}

.menu {
	text-align: center;
	padding: 10px 10px;
	background-color: rgb(255, 255, 255);
	border: 2px #c42424 solid;
}

.visteRetter {
	border: 1px black solid;

	margin: 20px;
	padding: 10px;

	background-color: #ffffff;

	color: black;

	width: 400px;

	margin-bottom: 5vw;

	text-align: center;

	font-family: 'Comfortaa', cursive;

	font-size: 10px;

}

#popup {
	width: 90%;
	height: 80%;
	position: fixed;
	background-color: rgba(20, 19, 19, 0.87);
	margin-left: 20px;
	font-family: 'Comfortaa', cursive;



}

#indhold {
	padding: 5px;
	text-align: center;
}



.filter {
	background-color: white;
	/* Green */
	border: none;
	color: black;
	padding: 7px;
	border-radius: 10%;
	font-size: 16px;
	font-family: 'Comfortaa', cursive;


}

.filter:hover {
	text-decoration: underline;
}

#luk {
	background-color: rgb(175, 38, 38);
	border: none;
	color: #ffffff;
	display: inline-block;
	margin: 10px;
	border-radius: 100px;
	text-align: left;
	text-decoration: none;
	font-size: 17px;



}


footer {
	clear: both;
	background-color: rgba(0, 0, 0, 0.68);
	color: #ffffff;
	width: 100%;
	font-family: 'Comfortaa', cursive;

}


footer p,
footer h2 {
	margin: 0 0 14px 0;
	padding: 20px
}

footer .footergrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 10px 0 0 0;
}


/*MEDIA*/
@media only screen and (min-width: 900px) {


	#burger {
		display: none;
	}

	.navbar {
		display: block
	}

	#splash {
		width: 100vw;
		height: auto;


	}

	.forsidetekst {
		width: 60%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	#liste {


		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;

		width: 100vw;
		margin-bottom: 5vw;
		margin-top: 5vw;

		text-align: center;
		display: flex;
		flex-wrap: wrap;




	}

	#popup {

		width: 80%;
		height: 50%;
		position: fixed;


	}

	.filter {
		background-color: red;
		border: none;
		color: black;
		padding: 20px;
		border-radius: 10%;
		font-size: 16px;


	}

}

@media only screen and (min-width: 700px) {

	.forsidetekst {
		width: 60%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.visteRetter {
		border: 1px black solid;

		margin: 30px;
		padding: 10px;

		background-color: #ffffff;

		color: black;

		width: 300px;
		;

		margin-bottom: 5vw;

		text-align: center;

	}

	#popup {

		width: 80%;
		height: 80%;
		position: fixed;
		margin-left: 100px;

	}

	.filter {
		background-color: white;
		border: none;
		color: black;
		padding: 20px;
		border-radius: 10%;
		font-size: 16px;


	}
}

.kontakt {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	border: 1px black solid;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: rgba(221, 185, 158, 0.64);
}

.lokation {
	height: 100%;
	width: 90%;
}
